/*
Theme Name: Child Twenty Twenty
Version: 1.0
Template: twentytwenty
*/

.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
	max-width: max-content;
	width: calc(100% - 4rem);
}
